{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home Page</h1>
    <p>currently logged in as {{ role }}</p>

    {% if users != null %}
        <h2>Users</h2>
        {{ dump(users) }}
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users[0] %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enabled }}</td>
                    <td>
                        <a
                                class="btn btn-danger btn-xs"
                                href="{{ path('disable_user', { 'id': user.id }) }}">
                            Disable
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if courses != null %}
        <h2>Courses</h2>
        {{ dump(courses) }}
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Enabled</th>
                <th>Created by</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.getisEnabled }}</td>
                    <td>{{ course.user.username }}</td>
                    <td>
                        <a
                                class="btn btn-danger btn-xs"
                                href="{{ path('disable_course', { 'id': course.id }) }}">
                            Disable
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Subjects</h2>
    {{ dump(subjects) }}
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Enabled</th>
            <th>Created by</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.getisEnabled }}</td>
                <td>{{ subject.user.username }}</td>
                <td>
                    <a
                            class="btn btn-danger btn-xs"
                            href="{{ path('disable_subject', { 'id': subject.id }) }}">
                        Disable
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block stylesheets %}
{% endblock %}
