{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home Page</h1>
    <p>currently logged in as {{ role }}.| <a href="{{ logout_url(key = null) }}">Logout</a></p>

    {% if users != null %}
        <h2>Users</h2>
        {#{{ dump(users) }}#}
        <h4>user count = {{ users[0]|length }} </h4>
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users[0] %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enabled }}</td>
                    <td>{{ user.getRoles()[0] }}</td>
                    <td>
                        {% if user.enabled == 1 %}
                            <a
                                    class="btn btn-danger btn-xs"
                                    href="{{ path('disable_user', { 'id': user.id }) }}">
                                Disable
                            </a>
                        {% else %}
                            <a
                                    class="btn btn-info btn-xs"
                                    href="{{ path('disable_user', { 'id': user.id }) }}">
                                Enable
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if courses != null %}
        <h2>Courses</h2>
        {#{{ dump(courses) }}#}
        <h4>courses count = {{ courses|length }} </h4>
        <a class="btn btn-info btn-xs" href="{{ path('list_course_path') }}">
            Course
        </a>

        <table class="table table-dark">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Enabled</th>
                <th>Created by</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.getisEnabled }}</td>
                    <td>{{ course.user.username }}</td>
                    <td>
                        {% if course.getisEnabled == 1 %}
                            <a
                                    class="btn btn-danger btn-xs"
                                    href="{{ path('disable_course', { 'id': course.id }) }}">
                                Disable
                            </a>
                        {% else %}
                            <a
                                    class="btn btn-info btn-xs"
                                    href="{{ path('disable_course', { 'id': course.id }) }}">
                                Enable
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% if subjects != null %}
        <h2>Subjects</h2>
        {#{{ dump(subjects) }}#}
        <h4>subjects count = {{ subjects|length }} </h4>
        <a class="btn btn-info btn-xs" href="{{ path('list_subject_path') }}">
            Subjects
        </a>
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Enabled</th>
                <th>Created by</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.description }}</td>
                    <td>{{ subject.getisEnabled }}</td>
                    <td>{{ subject.user.username }}</td>
                    <td>
                        {% if  subject.getisEnabled == 1 %}
                            <a
                                    class="btn btn-danger btn-xs"
                                    href="{{ path('disable_subject', { 'id': subject.id }) }}">
                                Disable
                            </a>
                        {% else %}
                            <a
                                    class="btn btn-info btn-xs"
                                    href="{{ path('disable_subject', { 'id': subject.id }) }}">
                                Enable
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if role == 'ROLE_STUDENT' %}

        {% if current_user.getCourse() != null %}
            <h1>Adopted Course</h1>

            <div class="mt-1">
                <h3>{{ current_user.getCourse() }}</h3>
            </div>
            <p class="lead">{{ current_user.getCourse().description }}</p>

            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Subject Name</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in current_user.getCourse().subjectCourses %}
                    <tr>
                        <td>
                            {{ subject }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a
                    class="btn btn-primary btn-xs"
                    href="{{ path('adoptCourse') }}">
                Adopt another Course
            </a>

        {% else %}
            <h3>No adopted Course</h3>
                <a
                        class="btn btn-primary btn-xs"
                        href="{{ path('adoptCourse') }}">
                    Adopt Course
                </a>
        {% endif %}
    {% endif %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
